<nav class="navbar">
    <div class="container">
        <a href="/">Ratatoullie</a>
        <div class="search-form">
            <input type="text" placeholder="Search Recipes...">
            <button type="submit">Search</button>
        </div>
        <ul class="nav-links">
            <li><a href="/">About</a></li>
            <li><a href="/explore">Explore</a></li>
            {{#if loggedIn}}
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
