<nav class="navbar">
    <div class="container">
        <div class="menu-icon">

        </div>
        <div class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Ratatouille</a>
            <div class="dropdown-content">

                <a href="/">About</a>
                <a href="/explore">Explore</a>
                {{#if loggedIn}}
                    <a href="/profile">My Profile</a>
                    <a href="/logout">Logout</a>
                {{else}}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {{/if}}
            </div>
        </div>
        <div class="search-form">
            <input type="text" placeholder="Search Recipes...">
            <button type="submit">Search</button>
        </div>
    </div>
</nav>
