<div class="container">
    <h1>Discover recipes!</h1>
    <form class="search-form">
        <input type="text" placeholder="Search recipes..." name="search">
        <button type="submit">Search</button>
    </form>
    <div class="featured-recipes">
    </div>
    <div class="explore-categories">
    </div>
</div>
