<div class="container">
    <h1>Discover recipes!</h1>
    <form class="search-form">
        <input id ="title" type="text" placeholder="Search recipes..." name="search">
        <button type="submit">Search</button>
    </form>
    <div class="featured-recipes">
    </div>
    <div class="explore-categories">
    </div>
</div>
<script src="/js/get-recipe.js"></script>
