<<<<<<< HEAD

 <div class="container">
    <h1>Discover recipes!</h1>
    <form class="search-form">
        <input type="text" placeholder="Search recipes..." name="search">
        <button type="submit">Search</button>
    </form>
    <div class="featured-recipes">
    </div>
    <div class="explore-categories">
    </div>
</div>
=======
     {{> navbar}}

    <div class="container">
        <h1>Welcome to Ratatoullie!</h1>
        
            <button type="submit">Search</button>
        
        <div class="all-recipes">
        {{allRecipes}}
        </div>
    </div>
>>>>>>> f84ca243c0864183e86638874f3f6074497fe720
