     {{> navbar}}

    <div class="container">
        <h1>Welcome to Ratatoullie!</h1>
        
            <button type="submit">Search</button>
        
        <div class="all-recipes">
        {{allRecipes}}
        </div>
    </div>
