<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatoullie</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{> navbar}}

    <div class="container">
        <h1>Welcome to Ratatoullie!</h1>
        
            <button type="submit">Search</button>
        </form>
        <div class="featured-recipes">
        </div>

        <div class="explore-categories">
        </div>
    </div>
</body>
</html>
