
    <div class="container">
        <h1>{{user.name}}'s Profile</h1>
        <img src="{{user.image}}" alt="{{user.name}}">
        <p>Bio: {{user.bio}}</p>
        <h2>My Recipes</h2>
        {{#each recipes as |recipe|}}
            {{> my-recipes recipe }}
            {{/each}}

        <h2>Favorite Recipes</h2>
    </div>
