    {{> navbar}}
    <div class="container">
        <h1>{{User.name}}'s Profile</h1>
        <img src="{{User.image}}" alt="{{User.name}}">
        <p>Bio: {{User.bio}}</p>
        <h2>My Recipes</h2>
        <h2>Favorite Recipes</h2>
    </div>
