* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f2f1;
    color: #333333;
    line-height: 1.6;
}

.navbar {
    background-color: #0abab5;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar .logo-text a, .search-form button, .nav-links li a {
    color: #ffffff;
    background-color: #0abab5;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    height: 40px;
}

.navbar .logo-text a:hover, .search-form button:hover, .nav-links li a:hover {
    background-color: #066962;
}

ul.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

li {
    padding: 0 10px;
}

.search-form {
    display: flex;
    align-items: center;
    height: 40px;
}

.search-form input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #0abab5;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
    height: 40px;
    width: 250px;
}

.search-form input[type="text"]:focus {
    border-color: #066962;
}


.nav-dropdown {
    position: relative;
    display: inline-block;
    margin-right: auto;
}

.dropdown-toggle {
    color: #ffffff;
    background-color: #0abab5;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-toggle:hover {
    background-color: #066962;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0abab5;
    min-width: 160px;
    z-index: 1;
    left: 0; /* Add this line to align to the left */
}

.dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.dropdown-content a:hover {
    background-color: #066962;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}
